{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
{% image page.text_image original as text_image %}
<div class="homepage_wide" style="background-image: url({{ text_image.url }})">
    <div class="container normal-content">
        <div class="row">
            <div class="col-sm-12">
                {{ page.body }}
            </div>
        </div>
    </div>
</div>

{% if newsitems %}
<div class="divided-50"></div>
<div class="container">
    <div class="row margin-bottom-40">
        <div class="col-sm-12 section-title">
            <h1><small>Kalikoksen</small> <br>Uutisia. <span class="pull-right"><a href="{{ newsindex.url }}" class="btn btn-theme-border btn-radius btn-lg wow animated fadeIn animated" data-wow-duration="700ms" data-wow-delay="1800ms" style="visibility: visible; animation-duration: 700ms; animation-delay: 1800ms; animation-name: fadeIn;">Lisää...</a></span></h1> 
        </div>
    </div><!--section title row-->
    <div class="row">
        {% for news in newsitems %}
            {% include "news/news_incl.html" %}
        {% endfor %}
    </div><!--post row end-->
</div>
{% endif %}

{% if events %}
<div class="divided-50"></div>
<div class="upcoming-events">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-title">
                <h1>
                    <small>Tulevat</small>
                    <br/>
                    Tapahtumat.
                </h1>
            </div>
        </div>
        <div class="row">
            {% for event in events %}
            <div class="col-sm-6 col-md-4">
                <div class="event_box text-left">
                    <div class="event_image">
                        {% image event.image fill-300x150 class="img-responsive" %}
                        <div class="event_overlay">
                            <div class="event-city">{{ event.location }}</div>
                            <div class="event-date">{{ event.start|date }}</div>
                        </div>
                    </div>
                    <h4 class="event-title">{{ event.title }}</h4>
                    <p>{{ event.intro }}</p>
                    <a href="{{ event.url }}">Lue lisää...</a>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
    
</div>
{% endif %}
<!--
<div class="divided-70"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 margin-bottom-50">
            <h3 class="center-heading">Yhteistyössä</h3>
            <span class="center-line"></span>
        </div>
    </div>
</div>
-->

{% endblock %}