{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load kalikos_image_tags %}

{% block content %}
{% image page.text_image original as text_image %}
<div class="homepage_wide" style="background-image: url({{ text_image.url }})">
    <div class="container normal-content">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ page.title_text }}</h1>
                <p>{{ page.title_subtext }}</p>
            </div>
        </div>
    </div>
</div>

<div class="divided-50"></div>
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-sm-12">
            {{ page.body }}
        </div>
    </div>
</div>

{% if events %}
<div class="divided-50"></div>
<div class="upcoming-events">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 section-title">
                <h1>
                    <small>Tulevat</small>
                    <br/>
                    Tapahtumat.
                </h1>
            </div>
        </div>
        <div class="row">
            {% for event in events %}
            <div class="col-sm-6 col-md-4">
                {% include "event/incl_eventbox.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
    
</div>
{% endif %}
<!--
<div class="divided-70"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 margin-bottom-50">
            <h3 class="center-heading">Yhteistyössä</h3>
            <span class="center-line"></span>
        </div>
    </div>
</div>
-->

{% endblock %}