{% load wagtailcore_tags %}
{% load kalikos_image_tags %}

    <div class="event_box text-left">
        <div class="event_image">
            <a href="{{ event.url }}">
            {% image event.image fill-300x150 class="img-fluid" %}
            <div class="event_overlay">
                <div class="event-city">{{ event.location }}</div>
                <div class="event-date">{{ event.start|date }}</div>
            </div>
            </a>
        </div>
        <div class="event_info">
            <a href="{{ event.url }}"><h4 class="event-title">{{ event.title }}</h4></a>
            <p>{{ event.intro }}</p>
            <a href="{{ event.url }}">Lue lisää...</a>
        </div>
    </div>