<div class="row" style="margin-bottom: 1rem;">
    <div class="col-sm-5">
        <a href="{{ value.podcast.url }}">
            <img class="img-thumbnail img-fluid" height="150" src="{{ value.podcast.image }}"/>
        </a>
    </div>
    <a href="{{ value.podcast.url }}"><h2>{{ value.podcast }}</h2></a>
    <p>{{ value.description }}</p>
    {% if value.podcast.episodes.count %}
        <h4>Viimeisimmät jaksot:</h4>
        <ul class="list-unstyled">

        {% for e in value.podcast.episodes.all %}
            <li>
                {{ e.date|date:"SHORT_DATE_FORMAT" }}
                <a href="{{ e.link }}">
                    <b>{{ e.title }}</b>
                </a>
            <div>
            <small>
                {{ e.description|truncatewords:20|striptags }}
            </small>
            </div>
            </li>
        {% endfor %}
    {% endif %}
    </ul>
</div>