{% extends "home/normal_page.html" %}

{% load wagtailcore_tags %}
{% load kalikos_image_tags %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="post-detail">
                <h1>{{ newsitem.title }}</h1>
                <p class="lead">
                    {{ newsitem.intro }}
                </p>
                {{ newsitem.body|richtext }}
            </div>
        </div>
        <div class="col-md-4">
            {% image newsitem.image fill-690x460 class="img-fluid" %}
        </div>
    </div>
</div>
{% endblock %}