{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load kalikos_image_tags %}

{% block page_title %}
    {% image page.title_image original as title_image %}
    {{ block.super }}
{% endblock page_title %}

{% block content %}
    {% block page_content %}
        <div class="container normal-content">
            <div class="row">
                {% if page.get_descendants %}
                <div class="col-md-8">
                {% else %}
                <div class="col-sm-12">
                {% endif %}
                    {{ page.body }}
                </div>
                
                {% if page.get_descendants %}
                <div class="col-md-3 col-md-offset-1">
                    <div class="sidebar-box">
                        <h3>Katso myös</h3>
                        <ul class="list-unstyled">
                            {% for p in page.get_descendants %}
                            <li><a href="{{ p.url }}">{{ p }}</a></li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}