/****************
basic
*****************/
a:hover, a:focus{
    outline: 0;
}

/***** margin***/

.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}
.margin-bottom-40{
    margin-bottom: 40px;
}
.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-bottom-60{
    margin-bottom: 60px;
}


/****padding****/

.padding-80{
    padding: 80px 0; 
}
.padding-70{
    padding: 70px 0; 
}
.padding-60{
    padding: 60px 0; 
}
.padding-50{
    padding: 50px 0; 
}
.padding-40{
    padding: 40px 0; 
}

hr.big{
    margin: 44px 0px;
}

/********dividers*********/
.divided-10{
    height: 10px;
    width:100%;
}
.divided-20{
    height: 20px;
    width:100%;
}
.divided-30{
    height: 30px;
    width:100%;
}
.divided-40{
    height: 40px;
    width:100%;
}

.divided-50{
    height: 50px;
    width:100%;
}
.divided-60{
    height: 60px;
    width:100%;
}
.divided-70{
    height: 70px;
    width:100%;
}
.divided-80{
    height: 80px;
    width:100%;
}
/*******typography****/
.normal-content h3 {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif; 
    margin-top: 0px;
}

p{
    font-family: 'Arimo', sans-serif; 

}
.theme-text{
    color:#0bc8f1;  
}
.theme-text:hover{

    color:#0bc8f1; 
}
a{
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}
a, a:hover, a:focus{
    text-decoration: none;
}
/*****section title****/
.section-title h1{
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.17em;
}
.section-title h1 small{
   font-size: 13px;
text-transform: capitalize;
color: #555;
font-weight: 300;
display: inline-block;
margin-bottom: 10px;
}
.section-title .pull-right a{
    font-size: 13px;
}

/****page title*****/
.page-title{
    padding: 100px 0;
    //background:url(../images/bread-bg.jpg) no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.page-title h1{
    font-weight: 300;
    color:#fff;
    text-transform: capitalize;
    font-size: 29px;
    letter-spacing: 0.05em;
    margin: 0px;
    line-height: 30px;
}
.page-title .breadcrumb{
    background-color: transparent;
    margin: 10px 0 0 0 ;
    padding: 0px;
    text-align: right;
}
.page-title .breadcrumb li a{
    color:#b5b5b5;
}
.page-title .breadcrumb li.active{
    color:#0bc8f1;
}
@media(max-width:767px){
    .page-title, .page-title .breadcrumb{
        text-align: center;
    }
}

/*****************

Sidebar

********************/

.sidebar-box{
    margin-top: 40px;
    margin-bottom:60px;
}
.sidebar-box h3{
    font-weight: 400;
    color:#555;
    font-size: 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.search-widget{
    position: relative;
    
}
.search-widget .search-btn{
    border: 0px;
    background-color: transparent;
    position: absolute;
    right: 15px;
top: 10px;
font-size: 20px;
color: #777;
}
.search-widget .search-btn:hover, .search-widget .search-btn:focus{
    color:#0bc8f1;
    outline: 0;
}
.search-widget .form-control{
    box-shadow: none;
    -webkit-box-shadow: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    height: 45px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
}
.sidebar-box ul li{
    line-height: 28px;
}
.sidebar-box ul li a{
    color:#777;
    font-size: 15px;
}
.sidebar-box ul li a:hover{
    color:#0bc8f1;
}
.tag-cloud a{
    margin: 5px;
    padding: 5px 7px;
    display: inline-block;
    box-shadow: 0 2px 1px rgba(0,0,0,0.3);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color:#777;
}
.tag-cloud a:hover{
    color:#0bc8f1;
}

/****
Center heading and line
***/

.center-heading{
    text-align: center;
    color:#000;
    text-transform: uppercase;
    font-weight:400;
    letter-spacing: 0.0em;
    line-height: 40px;
}
.center-line{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    width:120px;
}