.project-full-width-row{
    text-align: center;
}
 .no-paddding{
    padding: 0px; 
}
 .no-margin{
    margin: 0px; 
}
.img-desc {
    display: inline-block;
    width: 100%;
    padding: 5px 13px;
    position: relative;
    z-index: 6;
}
.img:hover .img-desc h5 {
    color: #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.img:hover .img-desc p {
    color: #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.img {
    position: relative;
    overflow: hidden;
}
.over {
    display: block;
    position: absolute;
    z-index: 5;
    bottom: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(11, 200, 241, 0.6);
    overflow: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.img:hover {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.img:hover .over {
    bottom: 0px;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.img-desc {
    top: 0;
    padding-top: 26%;
}
.img-desc h2 {
    font-size: 22px;
    line-height: 30px;
    font-style: normal;
    width: 100%;
    color:#fff;
    display: inline-block;
    text-align: center;
    font-weight: 300;
}
.img-desc h2 {
    position: absolute;
    right: -100%;
}
.img-desc h2 span {
    color: #fff;
    display: inline-block;
    width: 100%;
    font-weight: 300;
    font-family: 'Arimo', sans-serif;
    font-style: italic;
    font-size: 13px;
}
.img:hover .over .img-desc h2 {
    right: 0%;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}

.upcoming-events {
    background-color: #f7f7f7;
}

.event_box {
    background: #ffffff;
    box-shadow: 0px 3px 15px 3px #eee;
    margin-bottom: 30px;
    padding: 30px;
    margin-top: 30px;
}

.event_image {
    position: relative;
}
.event_overlay
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.event-city
{  
    background: rgba(25, 144, 187, .9);
    font-size: 13px;
    color: #fff;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    text-align: center;
    width: 100%;
    max-width: 86px;
	float:right;
	margin-top:16px;
	white-space: nowrap;
 }
.event-date
{ 
	background: rgba(231, 232, 235, .9);
    font-size: 13px;
    color: #363636;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 7px;
    padding-bottom: 8px;
    margin-top: 0px;
    float: right;
	white-space: nowrap;  
}

.event-title {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 15px 0;
}

.event_box p {
    font-size: 14px;
    line-height: 27px;
}

.event-location-box {
    background: #ffd4f5;
}

.event-extra-box {
    background: #d5d4ff;
}

.event-start-box {
    background: #d4ffd9;
}

.event-end-box {
    background: #ffd4d6;
}
.event-box {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px; 
    
    i {
        font-size: 30px;
    }
    
    h3 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        color: #363636;
        padding: 10px 10px 10px 10px;
        margin: 0 auto;
    }
}

.event-inner {
    background-size: cover;
    padding: 5px;
    margin: 5px;
    padding-top: 100px;
    padding-left: 30px;
    color: #fff;
    padding-bottom: 50px;
    line-height: 24px;
    
    p {
        display: inline-block;
        margin-top: 10px;
        width: 100%;
    }
    
    .red-btn {
        background: #0bc8f1 !important;
        font-size: 20px;
        text-transform: uppercase;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0 auto;
        float: left;
        color: #fff;
        font-family: 'latobold';
        text-align: center;
    }
    
    .event-date
    { 
    	background: rgba(231, 232, 235, .9);
        font-size: 13px;
        color: #363636;
        padding-top: 8px;
        padding-left: 12px;
        padding-right: 7px;
        padding-bottom: 8px;
        margin-top: 0px;
        width: 100%;
        max-width: 75%;
        float: left;
        bottom: 0px;
    }
}