/***
hack
**/

.nav .dropdown a {
    display: inline-block;
}

/**************
Bootstrap menu and container overrides
***************/

.navbar-default {
    margin-bottom: 0px;
    background-color: #fff;
    border:0;

    padding: 15px 0;
}
.navbar-default .navbar-nav>li>a{
    font-size: 15px;
    font-weight: 400;
    color:#666;
    text-transform: capitalize;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#0bc8f1;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0bc8f1;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.9);
}
@media(min-width:768px){
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}
.dropdown-menu{
    background-color: rgba(0,0,0,0.9);
    border: 0px;
    padding: 5px 15px;
    min-width: 190px;
    border-top-left-radius: 3px !important;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}
.dropdown-menu>li>a{
    color:#fff;
    padding: 7px 20px;
}
.dropdown-menu>li{
    border-bottom: 1px solid  rgba(255,255,255,0.2);
}
.dropdown-menu>li:last-child{
    border: 0px;
}
.dropdown-menu>li>a:hover{
    background-color: rgba(255,255,255,0.2);
    color:#fff;
}

.navbar-brand img{
    width:85px;
    height: auto;
}
