{% extends "home/normal_page.html" %}

{% load wagtailcore_tags %}
{% load kalikos_image_tags %}

{% block title_image %}
{% image page.image original as title_image %}
<div class="page-title" style="background-image: url({{ title_image.url }})">
{% endblock %}


{% block page_content %}

<div class="container">
    <div class="row margin-bottom-10">
        <div class="col-sm-12 section-title">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ page.description|richtext }}
        </div>
        <div class="col-md-3 col-md-offset-1">
            {% image page.image original class="img-responsive"%}
        </div>
    </div>
    {% for issue in page.get_issues %}
        <div class="row">
            <div class="col-md-2">
                <a href="{{ issue.url }}">
                    {% image issue.cover original class="img-responsive" %}
                </a>
            </div>
            <div class="col-md-10">
                <h3 class="issue-title"><a id="{{ issue.title }}" href="{{ issue.url }}">{{ issue.publication }} #{{ issue.number }}</a></h3>
                {{ issue.contents|richtext }}
            </div>
            {% image issue.cover original as issue_cover %}
            <button class="snipcart-add-item btn btn-primary"
                data-item-name="{{ issue.title }}"
                data-item-id="{{ page.sku }}-{{ issue.number }}"
                data-item-url="{{ page.get_url }}"
                data-item-price="6.00"
                data-item-description="{{ page.title }} - {{ issue.number }}"
                data-item-image="{{ issue_cover.url }}"
            >
                Osta PDF
            </button>
        </div>
        <div class="divided-30"></div>
    {% endfor %}
</div>

{% endblock %}