{% extends "home/normal_page.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block page_content %}
{% for pub in page.get_publications %}
<div class="container">
    <div class="row margin-bottom-10">
        <div class="col-sm-12 section-title">
            <h2>{{ pub.title }}
            <span class="pull-right">
                <a href="{{ pub.url }}" class="btn btn-theme-border btn-radius btn-lg wow animated fadeIn animated">
                    Lisää numeroita</a>
            </span>
            </h2>
        </div>
    </div>
    <div class="row">
        
            {% include "news/news_incl.html" %}
    </div>
</div>
{% endfor %}
{% endblock %}