{% extends "home/normal_page.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block title_image %}
{% image page.image original as title_image %}
<div class="page-title" style="background-image: url({{ title_image.url }})">
{% endblock %}


{% block page_content %}

<div class="container">
    <div class="row margin-bottom-10">
        <div class="col-sm-12 section-title">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {{ page.description|richtext }}
        </div>
        <div class="col-md-3 col-md-offset-1">
            {% image page.image original %}
        </div>
        <div class="col-md-8">
            {{ page.description|richtext }}
        </div>
    </div>
    <div class="row">
        {% for issue in pub.get_issues %}
            {% include "wagtail_publications/issue_incl.html" %}
        {% endfor %}
    </div>
</div>

{% endblock %}