{% extends "home/normal_page.html" %}

{% load wagtailcore_tags %}
{% load kalikos_image_tags %}

{% block page_content %}
<div class="container">
<button class="snipcart-checkout btn btn-secondary">Ostoskorisi (<span class="snipcart-total-price"></span>)</button>
</div>
{% for pub in page.get_publications %}
<div class="container">
    <div class="row margin-bottom-10">
        <div class="col-sm-12 section-title">
            <h2><a href="{{ pub.url }}">{{ pub.title }}</a>
            {% if pub.get_latest_issues %}
            <span class="pull-right mr-5">
                <a href="{{ pub.url }}" class="btn btn-theme-border btn-radius btn-lg wow animated fadeIn animated">
                    Kaikki numerot</a>
            </span>
            {% endif %}
            </h2>
        </div>
    </div>
    {% if pub.get_latest_issues %}
        <div class="row">
            {% for issue in pub.get_latest_issues %}
                {% include "wagtail_publications/issue_incl.html" %}
            {% endfor %}
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-3">
                <a href="{{ pub.url }}">
                    {% image pub.image height-300 class="img-responsive" %}
                </a>
            </div>
            <div class="col-sm-9">
                {{ pub.description|richtext }}
                <span class="read-more"><em>{{ issue.publication_date|date:'F Y' }}</em><a href="{{ pub.url }}" class="theme-text">Tutustu {% if pub.price or pub.pdf_price %}ja Osta {% endif %}<i class="ion-ios-arrow-round-forward"></i></a></span>
            </div>
        </div>
    {% endif %}
</div>
<div class="divided-50"></div>
{% endfor %}
{% endblock %}