{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load kalikos_image_tags %}

{% block page_title %}
    {% image page.image original as title_image %}
    {{ block.super }}
{% endblock %}

{% block extra_head %}
    {% image page.image max-320x240 as og_image %}
    <meta property="og:image" content="{{ og_image.full_url }}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            {{ page.description|richtext }}
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="event-box event-location-box">
                    <i class="ion-md-locate"></i>
                    <h3>Sijainti</h3>
                    <p>{{ page.location_exact }}</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="event-box event-extra-box">
                    <i class="ion-md-medical"></i>
                    <h3>&nbsp;</h3>
                    <p>&nbsp;</p>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="event-box event-start-box">
                    <i class="ion-md-time"></i>
                    <h3>Alkaa</h3>
                    <p>{{ page.start }}</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="event-box event-end-box">
                    <i class="ion-md-timer"></i>
                    <h3>Päättyy</h3>
                    <p>{{ page.end }}</p>
                </div>
            </div>
            </div>
            {% if page.url %}
            <div class="row">
                <div class="col-sm-12">
                    <h3>Linkkejä</h3>
                    {% include_block page.urls %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}