{% load sass_tags %}
{% load menu_tags %}
{% load static %}
{% load wagtailcore_tags %}
{% load kalikos_image_tags %}

<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="{% sass_src 'theme/footer.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'theme/social.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'theme/nav.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'theme/titles.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'theme/events.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'theme/news.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'theme/buttons.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'theme/frontpage.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'theme/publications.scss' %}" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
    {% if settings.home.SnipcartSettings.api_key %}
        <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.12/default/snipcart.css" />
        <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key=""></script>
        <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
    {% endif %}
    <!-- snake start -->
    {{ ALDRYN_SNAKE.render_head }}
    <!-- snake end -->
</head>
<body>
<header>
        {% if settings.home.SnipcartSettings.api_key %}
            <div hidden id="snipcart" data-api-key="{{ settings.home.SnipcartSettings.api_key }}"></div>
            <script src="https://cdn.snipcart.com/themes/v3.0.12/default/snipcart.js"></script>
        {% endif %}
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="ion-ios-menu"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                            {% image settings.kalikos_site.BrandingSettings.header_logo width-180 %}
                        </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">                
                    {% main_menu %}
                </div><!--/.nav-collapse -->
            </div><!--/.container -->
        </nav> <!--main navigation ends up-->
    </header>
    
{% block content %}
content
{% endblock %}

    <div class="divided-40"></div>
    <!--footer -->

    <footer id="footer">
        <div class="container">
            <div class="row margin-bottom-60">
                <div class="col-sm-4 margin-bottom-30">
                    <div class="footer-inner">
                        <h3><a href="/">
                            {% image settings.kalikos_site.BrandingSettings.footer_logo width-200 %}
                        </a> </h3> 
                        
                        <p>
                        </p>
                        <div class="divided-30"></div>
                        <ul class="social list-inline">
                            <li class="list-inline-item"><a href="{{ settings.kalikos_site.SocialMediaSettings.facebook }}" class="fb"><i class="ion-logo-facebook"></i></a></li> 
                            {% if settings.kalikos_site.SocialMediaSettings.mewe %}
                            <li class="list-inline-item"><a href="{{ settings.kalikos_site.SocialMediaSettings.mewe }}" class="mewe">
                                <img src="{% static 'logos/mewe-logo-white.png' %}" width="28" />
                            </a></li> 
                            {% endif %}
                            <!--
                            <li class="list-inline-item"><a href="#" class="twitter"><i class="ion-logo-patreon"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="in"><i class="ion-social-linkedin-outline"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="dribbble"><i class="ion-social-dribbble-outline"></i></a></li> 
                            -->
                        </ul>
                    </div><!--fotter inner-->
                </div>

                <div class="col-sm-4 margin-bottom-30">
                    <div class="footer-inner">
                        <h3>Ota yhteyttä</h3>

                        <ul class="list-unstyled contact-list">
                            <li><i class="ion-ios-mail"></i> {{ settings.kalikos_site.BrandingSettings.email }}</li>

                        </ul>
                    </div><!--fotter inner-->
                </div>
                <div class="col-sm-4">
                    <div class="footer-inner">
                        <h3>We are all us</h3>
                        
                        <h6>Kuvat</h6>
                        {% for image in rendered_images.values %}
                            {% if image.attribution %}
                            <p class="small">{{ image.title }} - 
                                {% if image.attribution_url %}
                                <a href="{{ image.attribution_url }}">
                                {% endif %}
                            {{ image.attribution }}
                                {% if image.attribution_url %}
                                </a>
                                {% endif %}
                            </p>
                            {% endif %}
                        {% endfor %}
                        <!--
                        <p>
                            Liity postituslistallemme.
                        </p>
                        <form role="form" class="subscribe-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter email to subscribe">

                                <button class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Subscribe" type="submit"><i class="ion-ios-paperplane"></i></button>

                            </div>
                        </form>
                        -->
                    </div><!--fotter inner-->
                </div>
            </div>
            <hr>
            <span class="clearfix copyright">&copy; Kalikos - Suomen Glorantha-seura ry, {% now 'Y' %}</span>
        </div>
    </footer>

    <!--footer end-->
    
    <!-- snake start -->
    {{ ALDRYN_SNAKE.render_tail }}
    <!-- snake end -->

</body>
</html>