{% load sass_tags %}
<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% sass_src 'theme/footer.scss' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'theme/social.scss' %}" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<body>
    
{% block "content" %}
content
{% endblock %}


    <div class="divided-40"></div>
    <!--footer -->

    <footer id="footer">
        <div class="container">
            <div class="row margin-bottom-60">
                <div class="col-sm-4 margin-bottom-30">
                    <div class="footer-inner">
                        <h3><a href="index.html"><img src="images/logo-dark.png" alt=""></a> </h3> 
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.
                        </p>
                        <div class="divided-30"></div>
                        <ul class="social list-inline">
                            <li class="list-inline-item"><a href="{{ settings.kalikos_site.SocialMediaSettings.facebook }}" class="fb"><i class="ion-logo-facebook"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="twitter"><i class="ion-logo-patreon"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="in"><i class="ion-social-linkedin-outline"></i></a></li> 
                            <li class="list-inline-item"><a href="#" class="dribbble"><i class="ion-social-dribbble-outline"></i></a></li> 
                        </ul>
                    </div><!--fotter inner-->
                </div>

                <div class="col-sm-4 margin-bottom-30">
                    <div class="footer-inner">
                        <h3>Contact us</h3>

                        <ul class="list-unstyled contact-list">
                            <li><i class="ion-ios-home"></i> - 128, Mahadev nagar , 302021</li>
                            <li><i class="ion-ios-telephone"></i> - 1800 2345 23456</li>
                            <li><i class="ion-ios-email"></i> - Support@codepiple.com</li>

                        </ul>
                    </div><!--fotter inner-->
                </div>
                <div class="col-sm-4">
                    <div class="footer-inner">
                        <h3>Newsletter</h3>
                        <p>
                            Subscribe to our newsletter and get free updates
                        </p>
                        <form role="form" class="subscribe-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter email to subscribe">

                                <button class="btn btn-default" data-toggle="tooltip" title="" data-original-title="Subscribe" type="submit"><i class="ion-ios-paperplane"></i></button>

                            </div>
                        </form>
                    </div><!--fotter inner-->
                </div>
            </div>
            <hr>
            <span class="clearfix copyright">&copy; Kalikos - Suomen Glorantha-seura ry, {% now 'Y' %}</span>
        </div>
    </footer>

    <!--footer end-->

</body>
</html>